@import "variables.scss";
@import "mixins.scss";
@import "base.scss";
@import "normalize.scss";

@import "global/fonts.scss";
@import "global/layout.scss";

@import "blocks/btn.scss";
@import "blocks/contacts.scss";
@import "blocks/content.scss";
@import "blocks/contest.scss";
@import "blocks/copyright.scss";
@import "blocks/download.scss";
@import "blocks/feature.scss";
@import "blocks/features.scss";
@import "blocks/footer.scss";
@import "blocks/header.scss";
@import "blocks/map.scss";
@import "blocks/photo-edit.scss";
@import "blocks/photo-page.scss";
@import "blocks/post.scss";
@import "blocks/review.scss";
@import "blocks/slider.scss";
@import "blocks/social.scss";
@import "blocks/tariff.scss";
