/* ~~~~ Colors ~~~~ */

$darkblue: #1d2631;
$lightgrey: #f2f2f2;
$grey: #dddfe0;
$darkgrey: #283645;
$white: #ffffff;
$black: #000000;
$pink: #d22856;


/* ~~~~ Font ~~~~ */

$font: "Open Sans", "Arial", sans-serif;

/* ~~~~ Media ~~~~ */

$mobile-only: "(max-width: 660px)";
$tablet: "(min-width: 660px)";
$tablet-only: "(min-width: 660px) and (max-width: 960px)";
$desktop: "(min-width: 960px)";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
