.page {
  width: 100%;
  font-family: $font;
  margin: 0;
}

.wrapper {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media #{$tablet} {

  .wrapper {
    width: 660px;
  }

}

  @media #{$desktop} {

    .wrapper {
      width: 960px;
  }

}
