.brand {
  margin-bottom: 20px;
}

.brand__brandlink {
  width: 283px;
  height: 126px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #f2f2f2;
}