.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 42px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 15px;
}

.contacts__items-block {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
}

.contacts__heading {
  font-size: 24px;
  font-weight: 300;
  color: $darkgrey;
  text-align: center;
  margin: 0;
  line-height: 30px;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 240px;
  padding-bottom: 27px;
}

.contacts__item--come {
  padding-top: 8px;
}

.contacts__type {
  font-size: 18px;
  font-weight: 700;
  color: $darkgrey;
}

.contacts__info {
  font-size: 24px;
  font-weight: 300;
  color: $pink;
  padding-top: 3px;
}

.contacts__email {
  text-decoration: none;
}

.contacts__email:hover {
  color: black;
  text-decoration: underline;
}

.contacts__email:active {
  color: $grey;
  text-decoration: none;
}

.contacts__item--write {
  padding-bottom: 22px;
}

@media #{$tablet} {

  .contacts {
    padding-bottom: 0;
    width: 660px;
    margin: 0 auto;
  }

  .contacts__heading {
    font-size: 40px;
    width: 380px;
    line-height: 48px;
    padding-top: 5px;
  }

  .contacts__items-block {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 44px;
  }

  .contacts__item--call {
    padding-left: 5px;
  }

  .contacts__item--come {
    padding-top: 0;
  }

  .contacts__item--write {
    padding-bottom: 0;
    padding-right: 7px;
  }

  .contacts__item {
    padding-bottom: 48px;
  }

  .contacts__item:last-child {
    padding-bottom: 30px;
  }

  .contacts__info {
    padding-top: 10px;
  }

}

@media #{$desktop} {

  .contacts {
    padding-top: 58px;
  }

  .contacts__items-block {
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 945px;
    padding-top: 40px;
  }

  .contacts__heading {
    font-size: 50px;
    width: 500px;
    line-height: 60px;
    padding-bottom: 10px;
  }

  .contacts__type {
    padding-bottom: 20px;
  }

  .contacts__item--call {
    order: 1;
    padding-left: 0;
    margin-left: -5px;
    padding-top: 8px;
  }

  .contacts__item--come {
    order: 2;
    padding-top: 8px;
  }

  .contacts__item--write {
    order: 3;
    padding-right: 0;
    margin-right: -5px;
    padding-top: 8px;
  }

  .contacts__info {
    padding-top: 5px;
  }
}
