.contest {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin-bottom: 55px;
}

.contest__description {
  width: 280px;
  margin: auto;
  text-align: center;
  padding-top: 45px;
  color: $darkgrey;
  font-size: 14px;
  line-height: 30px;
}

.contest__form {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.contest__label {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: $pink;
  padding-top: 15px;
}

.contest__checkbox-item {
  padding-bottom: 52px;
}

.contest__input {
  width: 280px;
  height: 63px;
  box-sizing: border-box;
  padding-left: 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: $darkgrey;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  outline: none;
}

.contest__input:hover,
.contest__experience:hover {
  border: 2px solid $darkblue;
}

.contest__experience {
  width: 280px;
  height: 201px;
  text-overflow: clip;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  color: $darkgrey;
  border: 2px solid $grey;
  border-radius: 2px;
  padding: 20px;
  padding-right: 5px;
  margin: auto;
  margin-top: -20px;
}

.contest__input:focus,
.contest__experience:focus,
.contest__input:active,
.contest__experience:active {
  outline: none;
  border: 2px solid $pink;
}

.contest__input::-webkit-input-placeholder,
.contest__experience::-webkit-input-placeholder {
  color: $darkgrey;
}

.contest__input::-ms-input-placeholder,
.contest__experience::-webkit-input-placeholder {
  color: $darkgrey;
}

.contest__input::-moz-placeholder,
.contest__experience::-webkit-input-placeholder {
  color: $darkgrey;
}

.contest__check-section {
  background-color: $lightgrey;
  display: flex;
  flex-direction: column;
  border: none;
  margin: auto;
  padding-top: -10px;
}

.contest__check-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: $pink;
  text-align: center;
  width: 220px;
  margin: auto;
  padding-top: 41px;
  padding-bottom: 41px;
  display: flex;
}

.contest__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: $pink;
  text-align: center;
  width: 220px;
  margin: auto;
  padding-top: 21px;
  padding-bottom: 41px;
  display: flex;
}

.contest__subtitle-experience {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: $pink;
  text-align: center;
  width: 220px;
  margin: auto;
  padding-top: 47px;
  display: flex;
  background-color: $white;
}

.contest__subtitle--white {
  background-color: $white;
}

.contest__subtitle--optional {
  display: none;
}

.contest__subtitle--grey,
.contest__check-description {
  background-color: $lightgrey;
}

.contest__checkbox,
.contest__radio {
  display: none;
}

.contest__background-block {
  background-color: $lightgrey;
  display: flex;
  flex-basis: 100%;
}

.contest__checkbox-label,
.contest__radio-label {
  padding-left: 42px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: $darkgrey;
  padding-bottom: 41px;
  position: relative;
}

.contest__user-contacts {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 23px;
  padding-top: 32px;
  border: none;
}

.contest__user-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 23px;
  padding-top: 32px;
  border: none;
}

.contest__contacts-item,
.contest__user-contacts--connect {
  margin: 0 auto;
  width: 280px;
  margin-bottom: 22px;
}

.contest__label {
  padding-left: 22px;
}

.contest__btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
  padding: 24px;
  cursor: pointer;
  color: $white;
  background-color: #2aab6d;
  width: 280px;
  margin: auto;
  margin-top: 30px;
  outline: none;
}

.contest__btn:hover {
  background-color: #1c9b5e;
}

.contest__btn:active {
  color: #60b98e;
}

.contest__btn:disabled,
.contest__btn:disabled:hover {
  background-color: #e5e5e5;
  border: 2px solid #e5e5e5;
  color: $white;
  cursor: default;
}

.contest__note {
  padding-top: 30px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.contest__note-full {
  display: none;
}

.contest__note-special {
  color: $pink;
}

.contest__description-full {
  display: none;
}

.contest__connect-item {
  padding-bottom: 20px;
}

.contest__submit-block {
  display: flex;
  flex-direction: column;
}

.contest__checkbox + label::before {
  content: "";
  position: absolute;
  height: 35px;
  width: 35px;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  background: $white;
  top: -7px;
  left: -25px;
}

.contest__checkbox:checked + label::before {
  background-size: 28px 16px;
  background-image: url("../img/icon-yes-pink.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.contest__checkbox + label:hover::before {
    border: 2px solid $darkblue;
}

.contest__checkbox:active  + label::before{
  border: 2px solid $pink;
}

.contest__radio + label::before {
  content: "";
  position: absolute;
  margin-left: 4px;
  width: 15px;
  height: 15px;
  border: 10px solid $white;
  border-radius: 50%;
  background-color: $white;
  box-shadow: 0 0 0 2px #e5e5e5;
  top: -2px;
  left: -25px;
}

.contest__radio + label:hover::before {
  box-shadow: 0 0 0 2px $darkblue;
}

.contest__radio:checked + label::before {
  background-color: $pink;
}

.contest__radio:active + label::before {
  box-shadow: 0 0 0 2px $pink;
}


@media #{$tablet} {
  
  .contest {
    margin-bottom: 35px;
  }
  
  .contest__radio + label::before,
  .contest__checkbox + label::before {
    left: 60px;
  }

  .contest__description {
    width: 490px;
    font-size: 18px;
    padding-bottom: 45px;
    padding-top: 100px;
  }

  .contest__description-full {
    display: block;
  }

  .contest__submit-block {
    display: flex;
    align-items: center;
  }

  .contest__note {
    padding-top: 50px;
  }

  .contest__form {
    flex-basis: 100%;
    display: flex;
  }

  .contest__contacts-item {
    display: flex;
    width: 620px;
    flex-direction: row;
    padding-bottom: 35px;
    box-sizing: border-box;
  }
  
  .contest__contacts-item:last-child {
    padding-bottom: 5px;
    margin-bottom: 5px;
  }

  .contest__input {
    flex-grow: 1;
  }

  .contest__label {
    padding-right: 20px;
    padding-left: 0px;
  }

  .contest__user-contacts--name {
    order: 1;
    padding-bottom: 0;
    margin: auto;
    width: 620px;
  }

  .contest__background-block {
    background-color: $white;
  }

  .contest__background-block--phone-os {
    order: 2;
    background-color: $white;
  }

  .contest__check-section,
  .contest__user-contacts--connect {
    border: 2px solid $grey;
    background-color: $white;
    width: 620px;
    margin: auto;
  }
  
  .contest__check-section {
    margin-bottom: 15px;
  }

  .contest__check-description {
    background-color: $white;
    width: 450px;
  }

  .contest__checkbox-label,
  .contest__radio-label {
    padding-left: 120px;
    padding-bottom: 50px;
  }
  
  .contest__checkbox-item {
    padding-top: 10px;
    padding-bottom: 41px;
  }
  
  .contest__connect-wrapper {
    margin-top: -15px;
  }

  .contest__subtitle {
    background-color: $white;
    width: 368px;
    padding-top: 41px;
  }

  .contest__user-contacts--connect {
    order: 3;
    margin-bottom: 17px;
  }

  .contest__connect-item {
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    width: 500px;
    padding: 0;
  }

  .contest__label--connect {
    padding-bottom: 27px;
    padding-left: 20px;
    padding-top: 8px;
  }

  .contest__subtitle--optional {
    display: block;
    width: 260px;
  }

  .contest__subtitle-experience {
    padding-bottom: 40px;
  }

  .contest__input {
    width: 100%;
  }

  .contest__background-block--goals {
    order: 4;
  }

  .contest__user-text {
    order: 5;
    width: 620px;
    margin: auto;
    border: 2px solid $grey;
  }

  .contest__experience {
    width: 510px;
    height: 193px;
    margin-bottom: 40px;
  }

  .contest__submit-block {
    order: 6;
    padding-top: 80px;
    padding-bottom: 0;
    justify-content: space-between;
    flex-direction: row;
    width: 620px;
    margin: auto;
  }
  .contest__user-contacts,
  .contest__user-text {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .contest__btn {
    margin: 0;
    width: 300px;
  }

  .contest__note {
    padding: 25px;
  }

}

@media #{$desktop} {
  
  .contest {
    margin-bottom: 24px;
  }

  .contest__description {
    width: 760px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 90px;
    padding-bottom: 60px;
  }

  .contest__description-full {
    display: inline;
  }

  .contest__note-full {
    display: inline;
  }

  .contest__form {
    width: 943px;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
  }

  .contest__user-contacts {
    margin: 0;
  }

  .contest__user-contacts--name{
    width: 437px;
    margin-right: auto;
    justify-content: space-between;
    padding-top: 25px;
  }
  
  .contest__radio-label {
    padding-bottom: 45px;
    padding-top: 2px;
    padding-left: 130px;
  }
  
  .contest__checkbox-label {
    padding-top: 2px;
    padding-left: 120px;
  }
  
  .contest__connect-wrapper {
    justify-content: space-between;
  }

  .contest__user-contacts--connect {
    width: 940px;
    margin-top: 30px;
  }
  
  .contest__label--connect {
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 15px;
  }
  
  .contest__radio + label::before {
    left: 70px;
    top: 2px;
  }

  .contest__contacts-item {
    width: 450px;
    padding-bottom: 0;
    margin-bottom: 25px;
  }
  
  .contest__contacts-item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .contest__check-section {
    width: 435px;
    box-sizing: border-box;
    align-self: flex-end;
  }

  .contest__background-block--phone-os {
    flex-basis: 435px;
  }

  .contest__check-section {
    padding: 0;
    margin: 0;
    margin-top: -25px;
  }

  .contest__input,
  .contest__label--connect,
  .contest__connect-item {
    width: 375px;
    margin: 0;
    padding-right: 0;
  }

  .contest__connect-wrapper {
    display: flex;
    padding-left: 60px;
    padding-right:  60px;
  }

  .contest__background-block--goals {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .contest__check-section--goals {
    flex-basis: 100%;
  }

  .contest__checkbox-column {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }

  .contest__checkbox-item {
    padding-top: 0;
    padding-bottom: 50px;
  }

  .contest__chechbox-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .contest__user-text {
    width: 940px;
  }

  .contest__experience {
    width: 820px;
    height: 128px;
  }

  .contest__submit-block {
    flex-basis: 100%;
    justify-content: space-between;
    padding-top: 53px;
  }
  
  .contest__subtitle--optional {
    padding-top: 38px;
    padding-bottom: 38px;
  }

}
