.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.contacts__items-block {
  display: flex;
  flex-direction: column;
}

.contacts__heading {
  font-size: 24px;
  font-weight: 300;
  color: $darkgrey;
  text-align: center;
  margin: 0;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 240px;
  padding-top: 30px;
}

.contacts__type {
  font-size: 18px;
  font-weight: 700;
  color: $darkgrey;
}

.contacts__info {
  font-size: 24px;
  font-weight: 300;
  color: $pink;
}

@media #{$tablet} {

  .contacts {
    padding-bottom: 0;
  }

  .contacts__heading {
    font-size: 40px;
    width: 380px;
  }

  .contacts__items-block {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

}

@media #{$desktop} {
  .contacts__items-block {
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
  }
}
