.copyright {
  width: 128px;
  height: 44px;
  display: flex;
  align-self: center;
  align-items: center;
}

.copyright__label {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $darkgrey;
  padding-right: 15px;
}

.copyright__logo-svg {
  fill: $pink;
}

.copyright__logo-svg:hover {
  fill: $darkblue;
}

.copyright__logo-svg:active {
  opacity: 0.3;
}

@media #{$tablet} {
}


@media #{$desktop} {
  .copyright__label {
    font-size: 18px;
  }
}
