.download {
  background-color: $darkblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}

.download__btn {
  padding: 15px 36px;
}

.download__phone-os {
  height: 110px;
  width: 230px;
  display: flex;
  justify-content: space-between;
}

.download__phone {
  height: 45px;
  width: 50px;
  align-self: center;

  &--iphone {
    padding-left: 10px;
  }

  &--android {
    padding-top: 15px;
  }

  &--winphone {
    padding-top: 20px;
  }
}

.download__description {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: $white;
  width: 240px;
  padding-left: 6px;
}

.download__phone--winphone {
  padding-right: 8px;
  padding-top: 23px;
}

.download__phone--android {
  padding-left: 2px;
}

.download__phone--iphone {
  padding-left: 12px;
}

@media #{$tablet} {

  .download {
    background: transparent;
    width: 300px;
    height: 290px;
    padding-top: 20px;
  }

  .download__description {
    font-size: 18px;
    width: 310px;
    line-height: 24px;
    margin-left: 15px;
  }

  .download__phone-os {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 7px;
  }

  .download__btn {
    width: 300px;
    box-sizing: border-box;
    margin-left: 7px;
    padding: 15px 45px;
  }

  .download__phone--android {
    opacity: 0.5;
    margin-left: 5px;
  }

}

@media #{$desktop} {

  .download__phone--android {
    opacity: 1;
  }

  .download {
    margin-left: 18px;
    height: 330px;
    padding-top: 2px;
    padding-bottom: 45px;
  }

  .download__phone-os {
    padding-top: 58px;
    padding-bottom: 55px;
    margin-left: 0;
  }

  .download__btn {
    font-size: 21px;
    width: 300px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
  }

  .download__description {
    margin-left: 0;
  }

}
