.features {
  background-color: $lightgrey;
}

.features__header {
  background-color: $white;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  width: 100%;
}

.features__wrapper::before {
  content: "";
  display: block;
  border-top: 35px solid #fff;
  border-right: calc(100vw - 17px) solid transparent;
  content: "";
  top: 452px;
}

.features__caption {
  font-size: 24px;
  font-weight: 300;
  color: $darkgrey;
  text-align: center;
  margin: 15px;
  margin-top: 9px;
  @media #{$tablet} {
    font-size: 40px;
  }
}

.features__column {
  display: flex;
  flex-direction: column;
  padding-top: 27px;
  padding-bottom: 36px;
  @media (min-width: 660px) {
    order: 1;
    width: 300px;
    margin-right: auto;
    margin-left: 0;
    margin-top: -33px;
    padding-bottom: 0;
  }
  @media #{$desktop} {
    flex-direction: row;
    width: 960px;
    justify-content: space-around;
    padding-bottom: 55px;
    margin: 0 auto;
  }
}

.features__images {
  display: flex;
  justify-content: center;
  @media #{$tablet} {
    margin: 0 auto;
  }
  @media #{$desktop} {
    width: 100%;
    justify-content: center;
  }
}

.features__image {
  background-size: auto cover;
  background-repeat: no-repeat;
}

.features__image--pink-smile {
  height: 280px;
  width: 157px;
  background-image: url(../img/iphone-screen-mobile@1x.png);
  background-position: 50% 0;

  @media #{$retina} {
      background-image: url(../img/iphone-screen-mobile@2x.png);
    }

  @media #{$tablet} {
    width: 241px;
    height: 480px;
    background-image: url(../img/iphone-screen-3-tablet@1x.png);
    padding-left: 15px;
    padding-right:15px;
    align-self: flex-start;

    @media #{$retina} {
      background-image: url(../img/iphone-screen-3-tablet@2x.png);
    }

  }
  @media #{$desktop} {
    height: 300px;
    width: 320px;
    background-image: url(../img/iphone-screen-3-desktop@1x.png);
    padding: 0;

    @media #{$retina} {
      background-image: url(../img/iphone-screen-3-desktop@2x.png);
    }

  }
}

.features__image--grey {
  display: none;
  background-position: 50% 0;
  @media #{$desktop} {
    display: block;
    height: 300px;
    width: 320px;
    background-image: url(../img/iphone-screen-1-desktop@1x.png);

    @media #{$retina} {
      background-image: url(../img/iphone-screen-1-desktop@2x.png);
    }

  }
}

.features__image--pink {
  display: none;
  background-repeat: no-repeat;
  background-position: 50% 0;
  @media #{$desktop} {
    display: block;
    background-image: url(../img/iphone-screen-2-desktop@1x.png);
    height: 300px;
    width: 320px;

    @media #{$retina} {
      background-image: url(../img/iphone-screen-2-desktop@2x.png);
    }

  }
}

.features__time {
  display: none;
  width: 100%;
  height: 395px;
}

.features__time-content {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-top: 100px;
  padding-right: 55px;
}

.features__time-caption {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  padding-bottom: 25px;
}

.features__time-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: $darkgrey;
  padding-bottom: 25px;
}

.features__time-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: $pink;
  text-decoration: underline;
}

.features__br-desktop {
  display: none;
}

@media #{$tablet} {

  .features__time {
    display: flex;
    order: 2;
    background-color: $white;
    width: 100%;
  }
  
  .features__caption {
    margin: 0;
  }

  .features__time-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .features__watch {
    background-image: url(../img/icon-timer.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 238px auto;
    width: 238px;
    height: 276px;
    margin-left: auto;
    margin-right: 60px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .features__timer {
    color: $pink;
    width: 174px;
    height: 174px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 96px;
    font-weight: 700;
    line-height: 149px;
    border: 14px solid $pink;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 34px;
  }

  .features__time-content {
    padding-right: 0;
    margin-right: auto;
    margin-left: 0;
    padding-left: 0;
    padding-top: 125px;
  }
  
  .features__time-caption {
    padding-bottom: 15px;
  }
  
  .features__time-text {
    padding-bottom: 10px;
  }

  .features__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .features__wrapper::before {
    border-top: 50px solid #fff;
  }

  .features__images {
    margin-top: -50px;
  }
  
  .features__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
  }
  
  .features__caption--short {
    width: 350px;
    padding-bottom: 40px;
  }

}

@media #{$desktop} {

  .features__watch {
    background-size: 298px auto;
    width: 298px;
    height: 345px;
    margin-top: 20px;
    margin-right: 65px;
    margin-left: 10px;
  }

  .features__br-tablet {
    display: none;
  }

  .features__time-wrapper {
    justify-content: flex-start;
    padding-left: 0;
    width: 960px;
    margin: 0 auto;
  }

  .features__time {
    background-color: $lightgrey;
    height: 430px;
  }

  .features__time-content {
    width: 525px;
    padding-left: 0;
    margin-left: 0;
  }

  .features__timer {
    line-height: 187px;
    font-size: 120px;
    width: 253px;
    height: 253px;
    box-sizing: border-box;
    border: 17px solid $pink;
    margin-top: 45px;
  }

  .features__time-text,
  .features__time-link {
    font-size: 18px;
  }

  .features__br-desktop {
    display: block;
  }

  .features__caption {
    font-size: 50px;
    font-weight: 300;
  }

  .feature__caption--short {
    width: 730px;
    margin: 0 auto;
    padding-bottom: 70px;
  }

  .features__wrapper::before {
    border-top: 95px solid #fff;
  }

  .features__images {
    margin-top: -95px;
  }

}
