.feature {
  text-align: center;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  width: 290px;
  margin: 0 auto;
  padding-bottom: 5px;
}

.feature__title {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 13px;
}

.feature__text {
  font-size: 14px;
  font-weight: 400;
  color: $darkgrey;
}

@media #{$tablet} {

  .feature {
    text-align: left;
    width: 310px;
    align-items: stretch;
    padding-top: 31px;
    padding-bottom: 0;
  }

  .feature__text {
    padding-bottom: 2px;
  }

  .feature__br {
    display: none;
  }

}

@media #{$desktop} {

  .feature {
    width: 300px;
    text-align: center;
    margin-left: 40px;
    padding-top: 35px;
  }

  .feature__title {
    font-size: 30px;
    line-height: 30px;
    width: 230px;
    padding-bottom: 25px;
  }

  .feature__br-tablet {
    display: none;
  }

  .feature__text {
    font-size: 18px;
    width: 240px;
    line-height: 30px;
  }

}
