.feature {
  text-align: center;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  width: 275px;
  margin: 0 auto;
}

.feature__title {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 17px;
}

.feature__text {
  font-size: 14px;
  font-weight: 400;
  color: $darkgrey;
}

@media #{$tablet} {

  .feature {
    text-align: left;
    width: 310px;
    align-items: stretch;
    padding-top: 23px;
  }
  
  .feature__text {
    padding-bottom: 5px;
  }

}

@media #{$desktop} {

  .feature {
    width: 300px;
  }

  .feature__title {
    font-size: 30px;
    line-height: 30px;
    width: 230px;
  }

  .feature__text {
    font-size: 18px;
    width: 240px;
  }

}
