.footer {
  @include center();
  flex-direction: column;
  padding-top: 40px;
}

.footer__social {
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer__wrapper {
  display: none;
}

@media #{$tablet} {

  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 620px;
    margin: auto;
  }

}

@media #{$desktop} {

  .footer__wrapper {
    display: flex;
    align-items: center;
    width: 940px;
  }

}
