.header {
  position: relative;
  min-width: 320px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 66px;
  background-color: rgba(8, 11, 15, 0.4);
  width: 100%;
  align-content: center;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 66px;
  width: 100%;
  align-content: center;
}

.header__wrapper--color {
  background-color: $darkblue;
}

.header__logo {
  padding-left: 20px;
}

.header__logo-svg {
  width: 75px;
  height: 22px;
  fill: $white;

  &:hover {
    fill: $pink;
  }

  &:active {
    fill: $white;
    opacity: 0.3;
  }
  
  @media #{$tablet} {
    width: 150px;
    height: 40px;
  }
}

.header__logo-icon--mobile {
  display: block;
}

.header__logo-icon--tablet,
.header__logo-icon--desktop {
  display: none;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 22px;
  width: 100%;
  height: 66px;
  box-sizing: border-box;
  align-items: center;
  margin: auto;
}

.header__menu-list {
  @include menu();
  display: flex;
  flex-direction: column;
  display: none;
  width: 100%;
}

.header__menu-list--open {
  display: flex;
  background-color: $darkblue;
}

.header__dropdown-btn {
  width: 50px;
  height: 24px;
  font-size: 0px;
  margin-right: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  background-image: url("../img/icon-menu-burger.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  margin-left: 15px;

  &--cross {
    background-image: url("../img/icon-menu-cross.svg");
    width: 24px;
    height: 23px;
  }
}

.header__list-item {
  border-top: 1px solid #475360;
  border-bottom: 1px solid #000000;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 65px;
  box-sizing: border-box;
}

.header__menu-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: $white;
  width: 100%;
  text-transform: uppercase;
  height: 63px;
  box-sizing: border-box;
}

.header__link-text {
  align-self: center;
}

.header__menu-link:hover {
  color: $pink;
}

.header__menu-link:active {
  color: $white;
  opacity: 0.3;
}

.header__link-text--current {
  box-shadow: 0 2px 0 $white;
}

.header__menu-link--current:hover  .header__link-text--current {
  color: $pink;
  box-shadow: 0 2px 0 $pink;
}

.header__images {
  display: flex;
  background-color: $darkblue;
  &--small {
    height: 236px;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 50px;
    background-image: url(../img/bg-back-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto,cover;
    box-sizing: border-box;

    @media #{$retina} {
      background-image: url(../img/bg-back-mobile@2x.jpg);
      background-size: 700px 462px;
    }
  }
}

.header__background-margin {
  margin-top: -65px;
}

.header__content {
  display: flex;
  width: 100%;
  height: 557px;
  flex-direction: column-reverse;
  align-self: flex-end;
  background-image: url(../img/iphone-hand-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: top left;

  @media #{$retina} {
    background-image: url(../img/iphone-hand-mobile@2x.png);
    background-size: 258px 286px;
  }

  @media screen and (min-width: 340px) {
    background-position: top center;
  }

}

.header__page-title {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  color: $white;
  text-align: center;
  width: 240px;
  align-self: center;
  &--photo {
    padding-top: 62px;
    line-height: 28px;
  }
  &--contest {
    padding-top: 90px;
    line-height: 28px;
  }
}

.header__images--large {
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto,cover;
  height: 730px;
  width: 100%;

  @media #{$retina} {
      background-image: url(../img/bg-back-mobile@2x.jpg);
      background-size: 1200px 729px;
    }

}

.header__slogan {
  display: none;
  width: 186px;
  height: 126px;
  font-size: 40px;
  font-weight: 300;
  color: $white;
  text-align: center;
  width: 240px;
  padding-left: 30px;
}

@media #{$tablet} {

  .header__images--large,
  .header__images--small {
    background-image: url(../img/bg-back-tablet@1x.jpg);

    @media #{$retina} {
      background-image: url(../img/bg-back-tablet@2x.jpg);
      background-size: 1200px 729px;
    }

  }

  .header__logo-icon--mobile {
    display: none;
  }

  .header__logo-icon--tablet {
    display: block;
    width: 150px;
    height: 40px;
  }

  .header__images--small {
    height: 438px;
  }

  .header__background-margin {
    margin-top: -109px;
  }

  .header__images--large {
    height: 728px;
  }

  .header__wrapper {
    margin: 0 auto;
    min-height: 109px;
  }

  .header__inner {
    margin: 0 auto;
    min-height: 109px;
  }

  .header__list-item {
    height: 64px;
  }

  .header__content {
    padding-top: 0;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url(../img/iphone-hand-tablet@1x.png);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    padding-left: 5%;
    height: 630px;

    @media #{$retina} {
      background-image: url(../img/iphone-hand-tablet@2x.png);
      background-size: 700px 545px;
    }

  }

  .header__logo {
    margin-top: -10px;
  }

  .header__logo-img {
    padding-left: 24px;
    width: 140px;
    height: 40px;
}

  .header__page-title {
    font-size: 50px;
    text-align: center;
  }

  .header__page-title--photo {
    width: 350px;
    line-height: 60px;
    padding-top: 90px;
  }

  .header__page-title--contest {
    width: 500px;
    padding-top: 147px;
    line-height: 60px;
  }

  .header__slogan {
    display: flex;
    padding-top: 100px;
    padding-bottom: 32px;
    padding-left: 35px;
    line-height: 49px;
  }

  .header__menu {
    margin: 0 auto;
    height: 110px;
    box-sizing: border-box;
  }

  .header__dropdown-btn {
    margin-right: 40px;
  }

}

@media #{$tablet-only} {

  .header__images-hand {
    background-position: bottom right;
  }

}

@media #{$desktop} {

  .header__images--large {
    background-image: url(../img/bg-back-desktop@1x.jpg);
    height: 853px;

    @media #{$retina} {
      background-image: url(../img/bg-back-desktop@2x.jpg);
      background-size: 2560px 853px;
    }

  }

  .header__logo-icon--tablet {
    display: none;
  }

  .header__logo-icon--desktop {
    display: block;
  }

  .header__page-title--photo {
    padding-top: 120px;
  }

  .header__inner {
    width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .header__logo-img {
    width: 140px;
    height: 40px;
    padding-left: 0;
  }

  .header__images--small {
    height: 395px;
    background-image: url(../img/bg-back-desktop@1x.jpg);

    @media #{$retina} {
      background-image: url(../img/bg-back-desktop@2x.jpg);
      background-size: 2560px 853px;
    }
  }

  .header__content {
    background-image: url(../img/iphone-hand-desktop@1x.png);
    height: 645px;
    max-width: 1200px;
    margin: 0 auto;
    background-position: 100% 100%;

    @media #{$retina} {
      background-image: url(../img/iphone-hand-desktop@2x.png);
      background-size: 1050px 645px;
    }

  }

  .header__logo {
    padding-right: 47px;
    padding-bottom: 7px;
  }

  .header__wrapper {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 0;
    position: absolute;
  }

  .header__menu {
    margin: 0;
    justify-content: flex-end;
    display: flex;
    width: 200px;
  }

  .header__menu-list {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    flex-basis: 670px;
    align-items: center;
    flex-shrink: 1;
  }

  .header__list-item {
    border: none;
    flex-shrink: 1;
  }

  .header__dropdown-btn {
    display: none;
  }

  .wrapper--header {
    flex-direction: row;
    justify-content: space-between;
  }

  .header__menu-link {
    text-transform: none;
    font-weight: 400;
  }

  .header__page-title--contest {
    width: 780px;
    padding-top: 125px;
  }

  .header__slogan {
    padding-top: 15px;
    font-size: 50px;
    font-weight: 300;
    height: 157px;
    padding-bottom: 70px;
    padding-left: 100px;
    line-height: 60px;
  }

}
