.header {
  position: relative;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 89px;
  background-color: rgba(8, 11, 15, 0.4);
  width: 100%;
}

.header__wrapper--color {
  background-color: $darkblue;
}

.header__logo-image {
  padding-left: 20px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 22px;
  width: 100%;
}

.header__menu-list {
  @include menu();
  display: flex;
  flex-direction: column;
  display: none;
  width: 100%;
}

.header__menu-list--open {
  display: flex;
  background-color: $darkblue;
}

.header__dropdown-btn {
  width: 30px;
  height: 30px;
  font-size: 0px;
  margin-right: 20px;
  margin-top: 5px;
}

.header__list-item {
  border-top: 1px solid #475360;
  border-bottom: 1px solid #000001;
  text-align: center;
  padding-top: 26px;
  padding-bottom: 26px;
  width: 100%;
}

.header__menu-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: $white;
}

.header__images {
  display: flex;
  &--small {
    height: 170px;
    justify-content: center;
    align-items: center;
  }
}

.header__content {
  display: flex;
  width: 100%;
  height: 560px;
  flex-direction: column-reverse;
  align-self: flex-end;
  background-image: url(../img/iphone-hand-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: 15% 5px;
}

.header__page-title {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  color: $white;
  text-align: center;
  width: 240px;
}

.header__images--large {
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 730px;
  width: 100%;
}

.header__slogan {
  display: none;
  width: 186px;
  height: 126px;
  font-size: 40px;
  font-weight: 300;
  color: $white;
  text-align: center;
  width: 240px;
  padding-left: 30px;
}

@media #{$tablet} {

  .header__images--large {
    background-image: url(../img/back-tablet-1x.png);
  }

  .header__wrapper {
    min-width: 660px;
    margin: 0 auto;
  }

  .header__content {
    padding-top: 0;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url(../img/iphone-hand-tablet.png);
    background-repeat: no-repeat;
    background-position: 15% 20px;
    padding-left: 5%;
  }

  .header__logo-image {
    padding-left: 40px;
}

  .header__page-title {
    font-size: 50px;
    text-align: center;
  }

  .header__page-title--photo {
    width: 350px;
  }

  .header__page-title--contest {
    width: 500px;
  }

  .header__images--small {
    height: 330px;
  }

  .header__slogan {
    display: flex;
    padding-top: 100px;
    padding-bottom: 40px;
  }

  .header__menu {
    margin: 0 auto;
  }

}

@media #{$tablet-only} {

  .header__images-hand {
    background-position: bottom right;
  }

}

@media #{$desktop} {

  .header__images--large {
    background-image: url(../img/back-desktop-jpg.png);
    height: 850px;
  }

  .header__content {
    background-image: url(../img/iphone-hand-desktop.png);
    background-position: 120px 0;
    height: 645px;
    padding-left: 10%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .header__logo-image {
    padding-left: 40%;
  }

  .header__wrapper {
    flex-wrap: nowrap;
    min-width: 960px;
    justify-content: space-between;
    padding-top: 0;
    padding-right: 2%;
    position: absolute;
  }

  .header__menu {
    width: 100px;
    margin: 0;
  }

  .header__menu-list {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    flex-basis: 620px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .header__list-item {
    border: none;
  }

  .header__dropdown-btn {
    display: none;
  }

  .wrapper--header {
    flex-direction: row;
    justify-content: space-between;
  }

  .header__menu-link {
    text-transform: none;
    font-weight: 400;
  }

  .header__page-title--contest {
    width: 780px;
  }

}
