.header {
  width: 100%;
}

.header__inner {
  width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  min-height: 90px;
  box-sizing: border-box;
}

.header__logo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 90px;
  justify-content: center;
  text-decoration: none;
}

.header__brand {
  font-family: "Calibri";
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: $black;
  margin-left: 15px;
}

.header__slogan {
  font-family: "Calibri";
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: $grey;
  margin-left: 15px;
}

.header__nav {
  display: flex;
  width: 480px;
  margin-left: 110px;
}

.header__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__nav-item {
  display: flex;
}

.header__nav-link {
  text-decoration: none;
  color: $black;
  font-size: 17px;
  font-weight: 400;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 17px;
  padding-right: 17px;
  border-bottom: 2px solid transparent;
}

.header__nav-link:hover {
  border-bottom: 2px solid $red;
  color: $red;
}

.header__search {
  height: 90px;
  padding-top: 30px;
  box-sizing: border-box;
  margin-left: 30px;
}

.header__userblock {
  display: flex;
  flex-direction: column;
  height: 90px;
}

.header__city {
  font-size: 12px;
  font-weight: 300;
  text-align: right;
  color: $grey;
  padding-right: 15px;
  position: relative;
  cursor: pointer;
  line-height: 30px;
  box-sizing: border-box;
}

.header__city::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border: 1px solid $grey;
  transform: rotate(135deg);
  top: 8px;
  right: 2px;
  cursor: pointer;
  border-left: transparent;
  border-bottom: transparent;
}

.header__usermenu {
  text-decoration: none;
  display: flex;
  background-color: $red;
  color: $white;
  width: 166px;
  height: 40px;
  border-radius: 3px;
  justify-content: center;
  line-height: 40px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  background-image: url(../img/icon-user.png);
  background-repeat: no-repeat;
  background-position: 20px 9px;
  padding-left: 20px;
  box-sizing: border-box;
  margin-left: 10px;
}

.header__usermenu:hover {
  background-color: darken($red, 10%);
}

.header__usermenu:active {
  background-color: darken($red, 20%);
}

