.map {
  height: 200px;
  background-image: url(../../img/map.png);
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  z-index: -2;
}

.map__mask {
  height: 200px;
  background-image: url(../../img/map-mask-mobile.png);
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  position: absolute;
  top: -90px;
  left: 0;
  z-index: -1;
}

.map__marker {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url(../../img/icon-map-marker.svg);
  background-repeat: no-repeat;
  left: 45%;
  top: 46%;
}

@media #{$tablet} {

  .map {
    height: 378px;
    background-position: center;
  }

  .map__mask {
    height: 140px;
    background-image: url(../../img/mask-tablet.png);
    top: -60px;
    background-size: cover;
  }

  .map__marker {
    left: 48%;
    top: 63%;
  }

}

@media #{$desktop} {

  .map {
    height: 500px;
  }

  .map__mask {
    height: 200px;
    background-image: url(../../img/mask-desktop.png);
    background-size: cover;
  }

  .map__marker {
    top: 60%;
  }

}
