.photo-edit {
  background-color: $lightgrey;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  margin: 0 auto;
  margin-bottom: 42px;
}

.photo-edit__form {
  display: flex;
  flex-direction: column;
}

.photo-edit__img {
  width: 280px;
  margin: auto;
}

.photo-edit__column {
  display: flex;
  flex-direction: column;
}

.photo-edit__icons {
  display: flex;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 33px;
}

.photo-edit__icon {
  margin-left: 19px;
  margin-right: 19px;
  cursor: pointer;
  background-repeat: no-repeat;
}

.photo-edit__scale {
  width: 240px;
  height: 2px;
  background-color: $darkblue;
  margin: auto;
  position: relative;
  margin-bottom: 30px;
}

.photo-edit__icon--crop {
  background-image: url(../img/icon-editor-crop-grey.svg);
  width: 44px;
  height: 44px;
}

.photo-edit__icon--crop-active {
  background-image: url(../img/icon-editor-crop-pink.svg);
  width: 44px;
  height: 44px;
}

.photo-edit__icon--fill {
  background-image: url(../img/icon-editor-fill-grey.svg);
  width: 48px;
  height: 43px;
}

.photo-edit__icon--fill-active {
  background-image: url(../img/icon-editor-fill-pink.svg);
  width: 48px;
  height: 43px;
}

.photo-edit__icon--contrast {
  background-image: url(../img/icon-editor-contrast-grey.svg);
  width: 32px;
  height: 32px;
  margin-top: 5px;
}

.photo-edit__icon--contrast-active {
  background-image: url(../img/icon-editor-contrast-pink.svg);
  width: 32px;
  height: 32px;
  margin-top: 5px;
}


.photo-edit__scale-item--fill,
.photo-edit__scale-item--contrast {
  display: none;
}

.photo-edit__range {
  position: absolute;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
  background-color: $lightgrey;
  border: 2px solid $pink;
  border-radius: 50%;
  top: -6px;
  z-index: 1;
  cursor: pointer;
}

.photo-edit__range--crop {
  left: 70%;
}

.photo-edit__range--fill {
  left: 20%;
}

.photo-edit__range--contrast {
  left: 50%;
}

.photo-edit__border {
  width: 100%;
  height: 1px;
  background-color: $grey;
  margin-bottom: 45px;
}

.photo-edit__buttons {
  display: flex;
  flex-direction: column;
}

.photo-edit__btn {
  width: 280px;
  margin: auto;
  box-sizing: border-box;
  margin-bottom: 15px;
}

@media #{$tablet} {

  .photo-edit {
    width: 700px;
    margin-bottom: 27px;
  }

  .photo-edit__form {
    width: 620px;
    margin: auto;
    flex-direction: row;
  }

  .photo-edit__scale-item--fill,
  .photo-edit__scale-item--contrast {
    display: block;
  }

  .photo-edit__column {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 10px;
    padding-right: 20px;
  }

  .photo-edit__icons {
    flex-direction: column;
    height: 170px;
    padding: 10px;
    padding-right: 25px;
    justify-content: space-between;
    margin: 0;
    padding-top: 33px;
  }

  .photo-edit__icon {
    margin: 0;
  }

  .photo-edit__scale-group {
    display: flex;
    flex-direction: column;
    height: 230px;
    justify-content: space-between;
  }
  
  .photo-edit__scale {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .photo-edit__scale-item {
    height: 50px;
    position: relative;
    padding-top: 27px;
  }

  .photo-edit__border {
    width: 275px;
    position: absolute;
    bottom: 0;
    left: -34px;
    margin: 0;
  }

  .photo-edit__buttons {
    display: flex;
    flex-direction: column;
    height: 134px;
    padding-top: 70px;
  }

  .photo-edit__img {
    width: 300px;
    height: 400px;
    margin-top: 40px;
  }

  .photo-edit__icon--crop {
    background-image: url(../img/icon-editor-crop-pink.svg);
    width: 22px;
    height: 22px;
    margin-top: 5px;
  }

  .photo-edit__icon--crop-active {
    width: 22px;
    height: 22px;
    margin-top: 5px;
  }

  .photo-edit__icon--fill {
    background-image: url(../img/icon-editor-fill-pink.svg);
    width: 24px;
    height: 22px;
  }

  .photo-edit__icon--fill-active {
    width: 24px;
    height: 22px;
  }

  .photo-edit__icon--contrast {
    background-image: url(../img/icon-editor-contrast-pink.svg);
    width: 16px;
    height: 16px;
    margin: 0 auto;
  }

  .photo-edit__icon--contrast-active {
    width: 16px;
    height: 16px;
    margin: 0 auto;
  }
  
  .photo-edit__scale {
    width: 202px;
  }
  
  .photo-edit__btn {
    width: 260px;
  }

}

@media #{$desktop} {

  .photo-edit {
    width: 940px;
    margin-bottom: 65px;
    padding-bottom: 40px;
  }

  .photo-edit__form {
    width: 820px;
    padding-left: 20px;
    box-sizing: border-box;
  }
  
  .photo-edit__column {
    justify-content: center;
    padding-left: 35px;
    padding-right: 0;
  }
  
  .photo-edit__icons {
    height: 180px;
    padding-right: 20px;
    padding-top: 25px;
  }
  
  .photo-edit__scale-group {
    justify-content: center;
    padding-left: 25px;
  }

  .photo-edit__scale-item {
    height: 63px;
    position: relative;
    align-items: flex-end;
  }

  .photo-edit__border {
    width: 410px;
    position: absolute;
    bottom: 0;
    left: -80px;
  }

  .photo-edit__buttons {
    flex-direction: row;
    width: 450px;
    justify-content: space-between;
    padding-left: 35px;
    padding-top: 75px;
  }

  .photo-edit__scale {
    width: 288px;
    margin-top: 15px;
  }

  .photo-edit__btn {
    width: 183px;
    box-sizing: border-box;
  }

  .photo-edit__icon--crop {
    width: 44px;
    height: 44px;
    margin-top: 0;
  }

  .photo-edit__icon--crop-active {
    width: 44px;
    height: 44px;
    margin-top: 0;
  }

  .photo-edit__icon--fill {
    width: 48px;
    height: 43px;
  }

  .photo-edit__icon--fill-active {
    width: 48px;
    height: 43px;
  }

  .photo-edit__icon--contrast {
    width: 32px;
    height: 32px;
  }

  .photo-edit__icon--contrast-active {
    width: 32px;
    height: 32px;
  }

}
