.post--small {
  margin-top: 24px;
}

.post__flag {
  width: 140px;
  height: 36px;
  color: $white;
  background-color: $pink;
  position: absolute;
  top: 0;
  right: 6.5%;
  line-height: 36px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.post--main {
  position: relative;
}

.post__text {
  margin: 0 auto;
  margin-top: -5px;
  width: 280px;
  box-sizing: border-box;
  background-color: $lightgrey;
  line-height: 24px;
  color: $darkgrey;
  text-align: left;
  padding-left: 18px;
  padding-top: 15px;
  padding-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
}

.post__text-main {
  margin: 0 auto;
  margin-top: -5px;
  width: 280px;
  box-sizing: border-box;
  background-color: $lightgrey;
  line-height: 24px;
  color: $darkgrey;
  text-align: left;
  padding-left: 18px;
  padding-top: 18px;
  padding-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
}

.post__username {
  font-size: 14px;
  font-weight: 700;
}

.post__half {
  font-size: 14px;
  font-weight: 300;
}

.post__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.post__usertext {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 7px;
  width: 240px;
}

.post__usertext-main {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 7px;
}

.post__add-like {
  width: 13px;
  height: 12px;
  cursor: pointer;
  border: none;
  outline: none;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  margin-right: 12px;
}

.post__like {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: $pink;
}

.post__like-block--short {
  width: 100%;
}

.post__userblock {
  padding-top: 3px;
}

@media #{$tablet} {

  .post--small {
    width: 300px;
    margin-bottom: -3px;
  }

  .post--main {
    margin-bottom: 25px;
    margin-top: 5px;
  }

  .post--main .post__add-like {
    margin-right: 0;
  }

  .post__img--main {
    width: 100%;
    height: auto;
  }

  .post__flag {
    top: 9%;
    right: 6%;
  }

  .post__img--small {
    width: 300px;
  }

  .post--small:nth-child(odd) {
    padding-right: 20px;
  }

  .post__text {
    margin: 0;
    margin-top: -5px;
    width: 100%;
    min-height: 155px;
    padding-left: 27px;
  }

  .post__text,
  .post__text-main {
    padding-top: 23px;
  }

  .post__text-main  {
    width: 620px;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 30px;
    box-sizing: border-box;
  }

  .post__usertext {
    width: 240px;
  }

  .post__usertext-main {
    order: 1;
    width: 100%;
  }

  .post__like-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--main {
      width: 120px;
    }

    &--short {
      width: 100%;
      padding-right: 20px;
      align-self: flex-end;
      padding-bottom: 5px;
    }

  }

  .post__add-like {
    order: 1;
  }

}

@media #{$desktop} {

  .post__flag {
    top: 9%;
    right: 11%;
  }

  .post--small:nth-child(odd) {
    padding-right: 0;
  }

  .post--main {
    margin-bottom: 5px;
  }

  .post--small {
    padding-left: 20px;
    margin-top: 45px;
    margin-bottom: 4px;
  }

  .post--small:nth-child(3n) {
    padding-left: 0;
  }

  .post__text-main  {
    width: 940px;
  }

  .post__img--main {
    width: 100%;
  }

  .post__img-main {
    width: 100vw;
    max-width: 1200px;
  }

  .post__usertext {
    width: 240px;
  }

  .post__text {
    min-height: 160px;
  }

  .post__usertext-main {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
  }

  .post__text--small {
    padding-top: 22px;
    justify-content: space-between;
  }

  .post__like-block--short {
    height: 35px;
    align-self: flex-end;
    padding-right: 30px;
  }

  .post__add-like {
    margin-right: 0;
  }

}
