.post {
  margin-top: 20px;
}

.post__flag {
  width: 140px;
  height: 36px;
  color: $white;
  background-color: $pink;
  position: absolute;
  top: 0;
  right: 10%;
  line-height: 36px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.post--main {
  position: relative;
}

.post__text {
  margin: 0 auto;
  margin-top: -5px;
  width: 280px;
  box-sizing: border-box;
  background-color: $lightgrey;
  line-height: 24px;
  color: $darkgrey;
  text-align: left;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
}

.post__username {
  font-size: 14px;
  font-weight: 700;
}

.post__half {
  font-size: 14px;
  font-weight: 300;
}

.post__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.post__usertext {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 15px;
}

.post__add-like {
  width: 13px;
  height: 12px;
}

.post__like {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: $pink;
}

@media #{$tablet} {

  .post--small {
    width: 300px;
  }

  .post__main {
    width: 100%;
  }

  .post__img--main {
    width: 700px;
    height: 509px;
  }

  .post__flag {
    top: 10%;
  }

  .post__img--small {
    width: 300px;
  }

  .post--small:nth-child(odd) {
    padding-right: 20px;
  }

  .post__text--main {
    width: 620px;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 30px;
    box-sizing: border-box;
  }

  .post__text--small {
    min-height: 155px;
    width: 300px;
  }

  .post__usertext {
    flex-basis: 100%;
  }

  .post__usertext--main {
    order: 1;
  }

  .post__like-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--main {
      width: 120px;
    }

    &--short {
      width: 100%;
      padding-right: 20px;
    }

  }

  .post__add-like {
    order: 1;
  }

}

@media #{$desktop} {

  .post--small:nth-child(odd) {
    padding-right: 0;
  }

  .post--small {
    padding-left: 20px;
  }

  .post--small:nth-child(3n) {
    padding-left: 0;
  }

  .post__text--main {
    width: 940px;
  }

  .post__img--main {
    width: 960px;
  }

}
