.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}

.review__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.review__quote {
  margin: 0;
  padding-top: 15px;
  padding-left: 21px;
  padding-right: 21px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.review__info {
  display: none;
  font-size: 14px;
  font-weight: 400;
  color: $darkgrey;
}

.review--2,
.review--3 {
  display: none;
}

@media #{$tablet} {

  .review {
    flex-direction: column-reverse;
    padding-top: 25px;
  }

  .review__info {
    display: block;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .review__quote {
    width: 620px;
    font-size: 18px;
  }

  .review__name {
    font-size: 20px;
    padding-top: 35px;
  }
}

@media #{$desktop} {

  .review__marks {
    display: none;
  }

  .review {
    background-image: url(../img/icon-quotes.svg);
    background-repeat: no-repeat;
    background-size: 79px auto;
    background-position: 50% 70px;
  }

  .review__quote {
    padding-top: 150px;
    position: relative;
    width: 690px;
  }

  .review__name {
    font-size: 24px;
    padding-top: 35px;
  }

  .review__info {
    font-size: 18px;
  }

}
